.row
  .span7.offset1
    %p
      Vancouver, BC based company founded in September 2012 by Ruy Diaz, a Software Developer with over
      #{Time.now.year - 2001} years professional experience, developing software for the web.

    %p
      With experience ranging from large multinational corporations such as
      Ericsson Telecom and working with the largest cell phone carrier in Mexico,
      to high traffic websites like
      = link_to "Citymax.com", "http://citymax.com", target: '_blank'
      and start-ups like
      = link_to("Orbs.com", "http://orbs.com", target: '_blank') + "."

    %p
      Some of Ruy's pet projects include
      = link_to "Splitsee", "http://www.splitsee.com", target: '_blank'
      and
      = link_to("Dabodo", "http://www.dabodo.com", target: '_blank') + "."

    %p
      Ruy has done his part for open source and community service as an active member of
      #{ link_to "Van.io", "http://van.io", target: "_blank"}. and
      %a{href: "http://stackoverflow.com/users/302246/ruy-diaz"} Stack Overflow.

    %p
      Some of the technologies that Ruy has worked with include:

      %ul#skills.accordion
        %li Ruby
        %li Ruby on Rails
        %li.accordion-group
          %span
            Javascript
            %a{data: {toggle: :collapse, parent: '#skills'}, href: '#skills-js'} (details)
          %ul#skills-js.collapse
            %li jQuery
            %li jQuery Mobile
            %li Mootools
            %li Sencha Touch
            %li Prototype
            %li Coffeescript
            %li Angular
        %li HTML5
        %li.accordion-group
          %span
            CSS3
            %a{data: {toggle: :collapse, parent: '#skills'}, href: '#skills-css'} (details)
          %ul#skills-css.collapse
            %li Bootstrap
            %li SASS
            %li SMACSS
            %li Compass
        %li.accordion-group
          %span
            Databases
            %a{data: {toggle: :collapse, parent: '#skills'}, href: '#skills-db'} (details)
          %ul#skills-db.collapse
            %li PostgreSQL
            %li MySQL
            %li MongoDB (NoSQL)
        %li.accordion-group
          %span
            Test Driven Development
            %a{data: {toggle: :collapse, parent: '#skills'}, href: '#skills-tdd'} (details)
          %ul#skills-tdd.collapse
            %li RSpec
            %li Cucumber
            %li Jasmine
        %li Heroku
        %li Flash (Flex 4)
        %li Java
  .span4
    .media
      = image_tag "http://www.gravatar.com/avatar/fd1925c8356bb0ece18731063b25141d?s=150", class: 'media-image'
      .media-content
        %ul.unstyled
          %li= link_to "Stack Overflow", "http://stackoverflow.com/users/302246/ruy-diaz", target: '_blank'
          %li= link_to "LinkedIn", "http://ca.linkedin.com/in/diazruy", target: '_blank'
          %li= link_to "Twitter", "http://twitter.com/diazruy", target: '_blank'
          %li= link_to "About.me", "http://about.me/ruydiaz", target: '_blank'
