- content_for(:title) { "About" }

.row
  .span12.content
    .contentblock
      %h1 About Lamnidae Consulting
    .row
      .span6
        .contentsection
          %p
            Vancouver, BC based company founded in September 2012 by Ruy Diaz, a Software Developer with over
            10 years professional experience, developing software for the web.

          %p
            With experience ranging from large multinational corporations such as
            Ericsson Telecom and working with the largest cell phone carrier in Mexico,
            to high traffic websites like
            = link_to "Citymax.com", "http://citymax.com"
            and start-ups like
            = link_to("Orbs.com", "http://orbs.com") + "."

          %p
            Some of Ruy's pet projects include
            = link_to "Splitsee", "http://splitsee.com"
            and
            = link_to("You Can Get Me This", "http://youcangetmethis.com") + "."

          %p
            Some of the technologies that Ruy has worked with include:

            %ul
              %li Ruby
              %li Ruby on Rails
              %li
                Javascript
                %ul
                  %li jQuery
                  %li Mootools
                  %li Prototype
                  %li Coffeescript
              %li HTML5
              %li
                CSS3
                %ul
                  %li Bootstrap
                  %li SASS
                  %li= link_to "SMACSS", "http://smacss.com"
              %li
                Databases
                %ul
                  %li MySQL
                  %li PostgresQL
                  %li MongoDB
              %li
                Test Driven Development (TDD)
                %ul
                  %li RSpec
                  %li Cucumber
                  %li Jasmine
              %li Heroku
              %li Flash (Flex 4)
              %li Java
      .span5
        .media
          = image_tag "http://www.gravatar.com/avatar/fd1925c8356bb0ece18731063b25141d?s=150", class: 'media-image'
          .media-content
            %ul.unstyled
              %li= link_to "Stack Overflow", "http://stackoverflow.com/users/302246/ruy-diaz", target: '_blank'
              %li= link_to "LinkedIn", "http://ca.linkedin.com/in/diazruy", target: '_blank'
              %li= link_to "Twitter", "http://twitter.com/diazruy", target: '_blank'
              %li= link_to "About.me", "http://about.me/ruydiaz", target: '_blank'
